# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
vite.config.ts.timestamp*

# Tests
coverage

# Dependencies
node_modules
.npmrc

# local env files
.env*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

dist
__generated__
storybook-static
.turbo
